.landing{
    height: 100%;
    color: white;
    padding: 10px 20px;
    background-color: whitesmoke;

    nav{
        color: black;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 1.5rem 20px;
        font-size : 1.2rem;
        display: flex;
        align-items: center;
        ul{
            // background-color: yellow;
            display: flex;
            align-items: center;
            list-style: none;
            gap: 5em;

            li:nth-child(1){
                border: 1px solid rgba(0, 0, 0, 0.278);
                padding: 5px 10px;
                border-radius: 20px;
            }
        }

        button{
            display: flex;
            align-items: center;
            gap: 5px;
            padding: 10px 30px;
            border: none;
            border-radius: 50px;
            background-color: black;
            color: white;
            font-size: 1rem;
            cursor: pointer;
        }
    }


    .hero{
        height: 95vh;
        border: 1px solid red;
        background-image: url("../assets/athletes-football.jpg");
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding-top: 6rem;
        border-radius: 20px;

        .hero-Content{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;
            
            h1{
                font-size: 3rem;
                font-weight: 500;
            }
            .main-heading{
                margin-top: 5rem;
                background-color: red;
            }
            h4{
                font-size: 1.2rem;
                font-weight: 400;
                // background-color: yellow;
                text-align: center;
                // width: 70%;
                padding-bottom: 1rem;
                
            }
            
            button{
                padding: 10px 20px;
                border: none;
                border-radius: 50px;
                background-color: black;
                color: white;
                font-size: 1rem;
                cursor: pointer;
                margin-bottom: 7rem;
            }
            
        }

        .hero-bottom{
            width: 100%;
            // border: 1px solid yellow;
            display: flex;
            justify-content: space-between;
            padding: 20px;

            .left{
                display: flex;

                span{
                    padding: 2px 10px;
                    background-color: grey;
                    // backdrop-filter: 30px;

                    border-radius: 50px;
                    margin-left: 5px;
                    img{
                        height: 40px;
                        width: 40px;
                        border-radius: 50%;
                        object-fit: cover;
                    }
                }
            }
            .right{
                display: flex;
                a{
                    text-decoration: none;
                    color: white;
                    margin-left: 20px;
                    display: flex;
                    align-items: center;
                    font-size: 1rem;
                    font-weight: 200;
                }
            }
        }
    }
}