# Compiled CSS
*.css.map
*.min.css

# Node modules (if using npm)
node_modules/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env

#Some Random Vid
Avengers.mp4

# Ignore Vite & React SVG logos everywhere
**/vite.svg
**/react.svg