* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  color: white;
}
html,
body {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

  main {
    background-color: black;
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    border-radius: 10px;

    h3 {
      font-family: monospace;
      color: white; // explicit color instead of inherit
      font-weight: bold;
      font-size: 1.5rem;
      span {
        color: blue;
      }
    }

    .download-bar {
      width: 100%;
      height: 20px;
      background-color: greenyellow;
      border-radius: 2rem;

      .inner-bar {
        height: 100%;
        width: 0%;
        background-color: rebeccapurple;
        border-radius: 2rem;
      }
    }

    .bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;

      h2 {
        font-size: 2rem;
        font-family: monospace;
      }
      h2::after {
        content: "%";
      }

      button {
        padding: 1rem 1.2rem;
        color: white;
        font-weight: bold;
        background-color: purple;
        // color: rgb(0, 255, 0);
        border-radius: 1rem;
      }
    }
  }
}
