* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

main {
    height: 90.5vh;
    width: 100%;
    background-color: black;
    display: flex;
    gap: 15vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


h1 {
    color: white;
    text-align: center;
    padding: 1rem 2rem;
    background-color: rgb(50, 50, 50);

}

main h1 {
    color: white;
    text-align: center;
    padding: 1rem 2rem;
    background-color: rgb(50, 50, 50);
    border-radius: 10px;
}

.piano-container {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.key {
    border: 1px solid black;
    width: 40px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 10px;
    cursor: pointer;
    border-radius: 0 0 5px 5px;
    background: white;
    transition: all 0.07s;
    /* Smooth animation */
}

/* Visual feedback class */
.playing {
    transform: scale(0.95);
    border-color: #ffc600;
    box-shadow: 0 0 10px #ffc600;
    background: #ffeead;
}