* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
@mixin all100 {
  height: 100%;
  width: 100%;
}
@mixin allCentre {
  display: flex;
  align-items: center;
  justify-content: center;
}
html,
body {
  width: 100%;
  height: 100vh;
}
nav {
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 3rem;

  a {
    padding: 0px 1rem;
    text-decoration: none;
    color: black;
  }
  .nav-button {
    display: flex;
    align-items: center;
    gap: 1rem;
    button {
      padding: 1rem 2rem;
      border: 1px solid blue;
      border-radius: 2rem;
    }
    #su {
      color: blue;
      background-color: white;
    }
    #gs {
      color: white;
      background-color: blue;
    }
  }
}

#pg1 {
  background-color: #f6f7f9;
  @include all100;
  display: grid;
  grid-template-columns: 0.25fr 0.75fr;
  grid-template-rows: 0.3fr 0.7fr;
  grid-template-areas:
    "left right"
    "cover cover";
  padding: 0px 4rem;
  gap: 20px;

  .firm {
    grid-area: left;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .desc {
    grid-area: right;
    background-color: pink;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .cover-photo {
    grid-area: cover;
    background-color: lightgreen;
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;

    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 2rem;
      overflow: hidden;
    }
  }
}

#pg2 {
  @include all100;
  display: flex;
  flex-direction: column;

  .stats {
    // height: 20%;
    width: 100%;
    padding: 4rem 2rem;
    // grid-area: stat;
    background-color: lightcoral;
    display: flex;

    justify-content: center;
    align-items: center;
    gap: 20rem;

    .stat {
      width: 12rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      span {
        font-size: 4rem;
      }
      text-align: center;
    }
  }

  .about-Us {
    // grid-area: about;
    background-color: lightsteelblue;
    padding: 2rem 4rem;
    display: flex;
    justify-content: space-between;
    .block {
      border: 1px solid black;
      width: 50%;
      padding: 4rem;
      h2 {
        font-size: 3rem;
      }
    }
    video {
      width: 30vw;
    }
  }
}
