* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Inter", sans-serif;
  color: #1a1a1a;
  background-color: #fff;
}

header .notification {
  background: linear-gradient(to right, #037cfd, #5e50f5, #813ff2);
  text-align: center;
  padding: 1.2rem 0rem;
}
header .notification p {
  color: white;
  font-size: 0.9rem;
  font-weight: 600;
}
header nav {
  display: flex;
  gap: 0rem;
  justify-content: space-between;
  padding: 2rem 2.5rem;
  background-color: #ffffff;
}
header nav img {
  height: 2vw;
}
header nav ul {
  text-decoration: none;
  list-style: none;
  display: flex;
  gap: 1.5rem;
  align-items: center;
}
header nav ul button {
  background-color: transparent;
  border: none;
  font-size: 0.9rem;
  font-weight: 600;
  opacity: 0.8;
  border-radius: 2rem;
  padding: 0.8rem 1.2rem;
}
header nav ul button:hover {
  background-color: rgb(242, 237, 237);
}
header nav ul #get_started {
  color: white;
  background-color: #0468d7;
  padding: 0.8rem 2rem;
}

main {
  width: 100%;
}
main section.view1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  background: linear-gradient(to right top, #fcdde8 10%, #ffffff 50%);
  padding-top: 3rem;
}
main section.view1 .top {
  width: 63%;
  display: flex;
  gap: 0rem;
  justify-content: space-between;
  align-items: center;
}
main section.view1 .top .heading {
  width: 40%;
}
main section.view1 .top .heading h1 {
  line-height: 0.98;
  font-size: 4.3rem;
  font-weight: 600;
}
main section.view1 .top .cover {
  width: 55%;
}
main section.view1 .top .cover img {
  width: 95%;
}
main section.view1 .bottom {
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 5.2rem 0rem;
}
main section.view1 .bottom p {
  width: 60%;
  font-size: 2.3rem;
  font-weight: 500;
}
main section.view3 {
  padding: 3rem 0;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}
main section.view3 .card {
  width: 22%;
  display: flex;
  flex-direction: column;
  text-align: left;
  overflow: hidden;
  border-top: 3px solid #e8eaed;
  padding-top: 1.5rem;
  padding-right: 2rem;
}
main section.view3 .card h2 {
  font-size: 1.5rem;
  color: black;
  padding-bottom: 1.5rem;
}
main section.view3 .card p {
  color: black;
  line-height: 1.5;
  font-size: 1.2rem;
  padding-bottom: 2.5rem;
}
main section.view3 .card img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
main section.view4 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  padding: 4rem 2rem;
  max-width: 1200px;
  margin: auto;
}
main section.view4 .heading {
  flex: 1;
  max-width: 520px;
}
main section.view4 .heading h4 {
  font-size: 1.2rem;
  color: #4a4a4a;
  margin-bottom: 1rem;
  font-weight: 500;
}
main section.view4 .heading h3 {
  font-size: clamp(2rem, 4vw, 3.8rem);
  font-weight: 700;
  color: #202124;
  margin-bottom: 1.5rem;
  line-height: 1.2;
  width: 75%;
}
main section.view4 .heading p {
  font-size: clamp(1rem, 1.4vw, 1.25rem);
  color: #444;
  line-height: 1.3;
  margin-bottom: 2.2rem;
  width: 75%;
}
main section.view4 .heading .join {
  display: flex;
  gap: 1rem;
}
main section.view4 .heading .join button {
  font-size: 0.9rem;
  font-weight: 600;
  color: black;
  background: transparent;
  border: none;
  cursor: pointer;
}
main section.view4 .heading .join #b1 {
  padding: 0.7rem 1.7rem;
  font-size: 0.9rem;
  font-weight: 600;
  background: white;
  color: #1a73e8;
  border: 1px solid #1a73e8;
  border-radius: 2rem;
  cursor: pointer;
}
main section.view4 .cover {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
main section.view4 .cover img {
  width: 90%;
  max-width: 500px;
}
main section.view5 {
  width: 100%;
  background: linear-gradient(to top right, #fcfce2, #f5fbfe);
}
main section.view5 .content {
  max-width: 1200px;
  margin: auto;
  padding: 4rem 2rem;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: clamp(2rem, 4vw, 6rem);
}
main section.view5 .heading {
  flex: 1;
  max-width: 520px;
}
main section.view5 .heading h4 {
  font-size: 1.2rem;
  color: #4a4a4a;
  margin-bottom: 1rem;
  font-weight: 500;
}
main section.view5 .heading h3 {
  font-size: clamp(2rem, 4vw, 3.8rem);
  font-weight: 700;
  color: #202124;
  margin-bottom: 1.5rem;
  line-height: 1.2;
  width: 75%;
}
main section.view5 .heading p {
  font-size: clamp(1rem, 1.4vw, 1.25rem);
  color: #444;
  line-height: 1.3;
  margin-bottom: 2.2rem;
  width: 75%;
}
main section.view5 .heading .join {
  display: flex;
  gap: 1rem;
}
main section.view5 .heading .join #b1 {
  padding: 0.7rem 1.7rem;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 0.9rem;
  font-weight: 600;
  background: #1a73e8;
  color: white;
  border: 1px solid #1a73e8;
  border-radius: 2rem;
  cursor: pointer;
}
main section.view5 .cover {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
main section.view5 .cover img {
  width: 90%;
  max-width: 500px;
  margin-right: 8vh;
}
main section.view6 {
  width: 100%;
  display: grid;
  place-items: center;
}
main section.view6 .container {
  width: 60%;
  display: flex;
}
main section.view6 .container .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main section.view6 .container .content h4 {
  font-size: 1.2rem;
  color: #4a4a4a;
  margin-bottom: 1rem;
  font-weight: 500;
}
main section.view6 .container .content h3 {
  font-size: clamp(2rem, 4vw, 3.8rem);
  font-weight: 700;
  color: #202124;
  margin-bottom: 1.5rem;
  line-height: 1.2;
  width: 75%;
}
main section.view6 .container .content p {
  font-size: clamp(1rem, 1.4vw, 1.25rem);
  color: #444;
  line-height: 1.3;
  margin-bottom: 2.2rem;
  width: 75%;
}
main section.view6 .container .content button {
  padding: 0.7rem 1.7rem;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 0.9rem;
  font-weight: 600;
  background: white;
  color: #1a73e8;
  border: 1px solid #1a73e8;
  border-radius: 2rem;
  cursor: pointer;
}
main section.view6 .container .cover {
  width: 50%;
}
main section.view6 .container .cover img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main section.view7 {
  width: 100%;
  background: linear-gradient(135deg, #fcfce2, #f5fbfe);
  display: grid;
  place-items: center;
}
main section.view7 .container {
  width: 70%;
  display: flex;
  flex-direction: row-reverse;
}
main section.view7 .container .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}
main section.view7 .container .content h4 {
  font-size: 1.2rem;
  color: #4a4a4a;
  margin-bottom: 1rem;
  font-weight: 500;
}
main section.view7 .container .content h3 {
  font-size: clamp(2rem, 4vw, 3.8rem);
  font-weight: 700;
  color: #202124;
  margin-bottom: 1.5rem;
  line-height: 1.2;
  width: 75%;
}
main section.view7 .container .content p {
  font-size: clamp(1rem, 1.4vw, 1.25rem);
  color: #444;
  line-height: 1.3;
  margin-bottom: 2.2rem;
  width: 75%;
}
main section.view7 .container .content button {
  padding: 0.7rem 1.7rem;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 0.9rem;
  font-weight: 600;
  background: #1a73e8;
  color: white;
  border: 1px solid #1a73e8;
  border-radius: 2rem;
  cursor: pointer;
}
main section.view7 .container .cover {
  width: 50%;
}
main section.view7 .container .cover img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main section.view8 {
  color: white;
  display: grid;
  place-items: center;
}
main section.view8 .blue-card {
  padding: 4rem;
  background-color: #042449;
  display: flex;
}
main section.view8 .blue-card .left {
  width: -moz-fit-content;
  width: fit-content;
}
main section.view8 .blue-card .right {
  height: 100%;
  border: 1px solid green;
  background-image: url(https://storage.googleapis.com/cms-storage-bucket/get-started-background.72521e62275b24d3c37d.png);
  background-size: cover;
}

footer {
  background-color: #f8f9fa;
  padding: 5rem 3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
footer .up {
  display: flex;
  justify-content: space-between;
}
footer .up .links {
  width: 70%;
  display: flex;
  justify-content: space-around;
}
footer .up .links ul {
  list-style: none;
  line-height: 2rem;
}
footer .up .links ul li {
  color: #4a4a4a;
}
footer .up .links ul li:nth-child(1) {
  font-weight: bold;
  color: black;
}
footer .bottom {
  display: flex;
  justify-content: space-between;
}
footer .bottom a {
  text-decoration: none;
  color: inherit;
  margin-left: 1rem;
}

.blank {
  height: 200vh;
  background-color: #f0f0f0;
}/*# sourceMappingURL=style.css.map */