* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

main {
    position: relative;
    z-index: 1;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

h1 {
    text-align: center;
}


button {
    background-color: blueviolet;
    color: white;
    padding: 1rem 1.5rem;
    font-size: 2rem;
    border-radius: 10px;
    position: absolute;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}