* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

@property --rotate {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
.card {
  height: 450px;
  max-width: 300px;
  padding-inline: 10px;
  padding-bottom: 10px;
  color: whitesmoke;
  box-sizing: content-box;

  display: flex;
  flex-direction: column;
  gap: 10px;

  border: 0px solid rgb(255, 255, 255, 0);
  border-radius: 20px;
  /* box-shadow: 0px 0px 0px 10px rgb(255, 0, 132); */

  background: linear-gradient(black) padding-box,
    conic-gradient(from var(--rotate), black, rgb(255, 0, 132), black)
      border-box;

  animation: borderAnimate 5s infinite;
  animation-timing-function: linear;
  animation-play-state: paused;
  transition: all 0.3s linear;
}

.card:hover {
  animation-play-state: running;
  border-width: 5px;
  box-shadow: 0px 0px 50px 10px rgb(255, 0, 132);
  color: rgb(255, 0, 132);
}
.card:hover h1 {
  text-shadow: 0px 0px 5px rgb(255, 0, 132);
}

@keyframes borderAnimate {
  from {
    --rotate: 0deg;
  }
  to {
    --rotate: 360deg;
  }
}

h1,
p {
  padding: 0px 10px;
}

.card img {
  width: 100%;
  height: 70%;
}
