* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

@property --rotate {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
.card {
  height: 400px;
  max-width: 300px;
  padding-inline: 10px;
  padding-bottom: 10px;
  color: whitesmoke;

  display: flex;
  flex-direction: column;
  gap: 10px;

  border: 5px solid rgb(255, 255, 255, 0);
  border-radius: 20px;
  /* box-shadow: 0px 0px 50px 10px rgb(255, 0, 132); */

  background: linear-gradient(black) padding-box,
    conic-gradient(from var(--rotate), black, rgb(255, 0, 132), black)
      border-box;

  animation: borderAnimate 10s infinite;
}

@keyframes borderAnimate {
  from {
    --rotate: 0deg;
  }
  to {
    --rotate: 360deg;
  }
}

h1,
p {
  padding: 0px 10px;
}

.card img {
  width: 100%;
  height: 70%;
}
