* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  color: white;
}
html,
body {
  width: 100%;
  height: 100%;
  background-color: #000000;
}
@mixin all100 {
  height: 100%;
  width: 100%;
}
// <element>.nth-child(<n>){  properties  }
@mixin allCentre {
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  nav {
    display: flex;
    justify-content: center;
    gap: 60rem;
    padding: 2rem 0;
    .logo {
      display: flex;
      align-items: center;
      gap: 1rem;
    }

    button {
      margin-left: 1rem;
      padding: 1rem 1.5rem;
      border-radius: 2rem;
      font-size: 1rem;
      color: white;
      background: transparent;
      text-decoration: none;
      border: 1px solid white;
    }
  }
}

hr {
  width: 60%;
  margin: 0px auto;
  margin-bottom: 3rem;
  height: 1px;
  border: none;
  background: linear-gradient(
    to right,
    transparent 0%,
    /* Left end - fully transparent */ #555 20%,
    /* Fade to solid in first 20% */ #555 80%,
    /* Solid till 80% */ transparent 100% /* Right end - fade out */
  );
}

main {
  section.hero {
    height: 100vh;
    // background-color: brown;
    position: relative;
    overflow: hidden;
    .bg-video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover; /* ensures video covers section */
      z-index: 1;
      pointer-events: none; /* so content above is clickable */
    }

    .content {
      position: relative;
      z-index: 2; /* places content above video */
      color: white; /* text stands out on video */
      text-align: center;
      display: flex;
      flex-direction: column;
      // justify-content: center;
      align-items: center;
      /* Additional styles as needed */
      .hero-heading {
        position: relative;
        width: 100%;
        height: 100%;

        img {
          @include all100();
          object-fit: cover;
        }

        h1 {
          font-size: 12rem;
          background: url("https://i.pinimg.com/originals/e6/f8/0b/e6f80be8122d7019c37b39b02dd6ec2c.gif");
          background-clip: text;
          color: transparent;
          text-align: center;
        }
      }

      p {
        width: 20%;
        font-size: 1.2rem;
        justify-content: center;
      }
      button {
        width: fit-content;
        padding: 0.8rem 1.5rem;
        margin-top: 1rem;
        background: transparent;
        color: white;
        opacity: 60%;
        border-radius: 2rem;
        font-size: 1.2rem;
        border: 1px solid #605351;
        border-color: opacify($color: white, $amount: 60%);
        text-decoration: none;
        backdrop-filter: blur(100px);
      }
    }
  }
}
