.second{
    height: 100vh;
    width: 100%;
    padding: 2rem 2rem;
    color: white;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 2rem;
    
    .second-header{
        h4{
            font-size: 1.1rem;
            font-weight: 400;
            padding: 5px 10px;
            border: 1px solid rgba(128, 128, 128, 0.442);
            border-radius: 20px;
            height: fit-content;
        }
        color: black;
        display: flex;
        justify-content: space-between;
        p{
            width: 70%;
            font-size: 1.8rem;
        }
    }
    
    .boxes{
        display: flex;
        justify-content: space-around;
        padding-bottom: 2rem;
    
    .box1{
        height: 60vh;
        width: 30vw;
        padding: 2rem 2rem;
        border-radius: 3rem;
        background-color: #0d1a2d;
        
        p{
            // width: 90%;
            font-size: 2rem;
            span{
                color : rgba(255, 255, 255, 0.251)
            }
        }

        img{
            margin-left: 20px;
            margin-bottom: 20px;
            height: 50px;
            color: white;
        }

        .game-mode{
            display: flex;
            align-items: center;
            gap: 1rem;
            margin-top: 2rem;
            p{
                color: rgba(255, 255, 255, 0.345);
                font-size: 1.5rem;
            }
            
            .toggle {
                width: 70px;
                height: 32px;
                border-radius: 999px;
                background-color: #ccc;
                display: flex;
                align-items: center;
                padding: 4px;
                cursor: pointer;
                transition: background-color 0.3s ease;
            }
            
            .toggle.on {
                background-color: #3bb6ff;
                justify-content: flex-end;
            }
            
            .toggle.off {
                justify-content: flex-start;
            }
            
            .knob {
                width: 28px;
                height: 28px;
                background-color: white;
                border-radius: 50%;
                transition: transform 0.3s ease;
            }
        }
    }

    .box2{
        height: 60vh;
        width: 30vw;
        border-radius: 3rem;
        background-color: #0547aa;
        background-image: url(https://thumbs.dreamstime.com/b/sport-success-yoga-workout-sportsman-yoga-mat-outdoor-health-care-muscular-guy-do-sport-man-sportswear-sports-healthy-206950543.jpg);
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
        p{
            font-size: 1.5rem;
            // border: 1px solid white;
            padding: 0.5rem 1rem;
            border-radius: 3rem;
            backdrop-filter: blur(20px);
        }

    }

    .box3{
        height: 60vh;
        width: 30vw;
        border-radius: 3rem;
        padding: 2rem 3rem;
        background-color: #f6f8fc;
        color: black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        // align-items: center;

        h2{
            font-size: 4rem;
            font-weight: 400;
            margin-bottom: 1rem;
        }
        h3{
            font-size: 1.5rem;
            font-weight: 500;
            margin-bottom: 1rem;
        }

        p{
            width: 90%;
            color: rgba(0, 0, 0, 0.427);
            margin-bottom: 3rem;
        }

        .rating{
            display: flex;
            flex-direction: column;
            gap: 1rem;
            .r1{
                display: flex;
                align-items: center;
                // justify-content: space-between;
                .circle{
                    height: 15px;
                    width: 15px;
                    background-color: #2eb3fe;
                    border-radius: 50%;
                    margin-right: 0.5rem;
                }
            }
        }
    }
}

    .facts-header{
        text-align: center;
        color: black;
        h2{

            font-size: 1.8rem;
            font-weight: 400;
        }
    }

}